<div class="container">
  <div id="logo"><h1 class="logo"></h1>
    <div class="CTA">
      </div>
  </div>
  <div class="leftbox">
    <nav>
      <a href="/profile"id="profile" ><i class="fa fa-user"></i></a>
      <a href="/payment" id="payment"><i class="fa fa-credit-card"></i></a>
    </nav>
  </div>
 
    <div class="rightbox">
      <h1>Ödeme Bilgileri</h1>
      <h2>Ödeme Yöntemi</h2>
      <p>Mastercard •••• •••• •••• 0000 </p>
      <h2>Teslimat Adresi</h2>
      <p>{{session.username.address}} </p>
      <h2>Postakodu</h2>
      <p>999000</p>
      <h2>Fatura Geçmişi</h2>
      <p>2018</p>
    </div>


