<div class="container">
  <div id="logo"><h1 class="logo"></h1>
    <div class="CTA">
      </div>
  </div>
  <div class="leftbox">
    <nav>
      <a href="/profile" id="profile"><i class="fa fa-user"></i></a>
      <a href="/payment" id="payment"><i class="fa fa-credit-card"></i></a>
    </nav>
  </div>
  <div class="rightbox">
    <div class="profile">
      <h1>Üye Bilgileri</h1>
      <h2>Kullanıcı Adı</h2>
      <p>{{session.username.username}} </p>
      <h2>Email</h2>
      <p>{{session.username.email}} </p>
      <h2>Password </h2>
      <p>••••••• </p>
    </div>
    



